.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.favorite-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
}
